html{
    background: #9FE2BF;
    overflow: hidden;
}


#title{
    background-color: aliceblue;
    outline: solid black;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 100); /* Add shadow */
    margin: 25px;
}

.Experience{
    background-color: aliceblue;
    outline: solid black;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 100); /* Add shadow */
    margin: 25px;
}

.Education{
    background-color: aliceblue;
    outline: solid black;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 100); /* Add shadow */
    margin: 25px;
    
}


    footer{
        margin: 25px;
}

*{
    text-align: center;
}

.picture{
    border: solid black;
    height: 100px;
    width: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutme{
    background-color: aliceblue;
    outline: solid black;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 100); /* Add shadow */
    margin: 25px;
}

.contactme{
    background-color: aliceblue;
    outline: solid black;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 100); /* Add shadow */
    margin: 25px;
}

.rutgerslogo {
    
    float: left;
    font-size: 0;
    margin-bottom: 2px;
    margin-right: 5px;
    margin-top: 0;
    margin-left: 0;
    overflow: hidden;
    width: 70px;
}

