html{
    background: bisque;
    oi
}


*{
    text-align: center;
}

p{
    font-size: 18px;
}

div{
    height: 100px;
    width: 75px;
    border: 1px, solid, black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title{
    outline: solid black;
    padding: 5px;
    border-radius: 5px;
}

image{
    position: fixed;
}